services:
    Digitalnoise\CommandLauncherBundle\Command\CommandLauncherCommand:
        arguments:
            $commandProvider: '@Digitalnoise\CommandLauncherBundle\CommandProvider\SymfonyMessengerCommandProvider'
            $commandLauncher: '@Digitalnoise\CommandLauncherBundle\CommandLauncher\SymfonyCommandLauncher'
        tags: [ 'console.command' ]
        public: true

    Digitalnoise\CommandLauncherBundle\CommandProvider\SymfonyMessengerCommandProvider:
        arguments:
            $rootDir: '%kernel.project_dir%'

    Digitalnoise\CommandLauncherBundle\CommandLauncher\SymfonyCommandLauncher:
        arguments:
            $messageBus: '@messenger.routable_message_bus'
